body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highcharts-credits {
  display: none;
}

.Mui-disabled {
  background-color: rgba(245, 245, 245);
}

a {
  color: #1976d2;
}

a.animated-hover {
  text-decoration: none;
  color: inherit;
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  a.animated-hover::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 5px;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: #444;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }

  a.animated-hover:hover::after {
    width: 100%;
    left: 0;
  }
}
